.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .hint {
        width: 33px;
        border-bottom: 4px solid #ff80ab;
    }

    i {
        cursor: pointer;
    }
}
