$bgColor: #c2185b;
$textColor: white;

.navbar {
    background-color: $bgColor;
    display: flex;
    justify-content: center;

    input {
        width: 40%;
    }
}

.title {
    color: $textColor;
    font-size: 20px;
}