$bgColor: #c2185b;
$textColor: white;

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $bgColor;
    color: $textColor;
}