<mat-list>
    <mat-list-item>
        <div class="image-info">
            <div class="image">
                <img [src]="image.download_url" [alt]="image.author">
                <div class="date">
                    <p>FEB</p>
                    <p>14</p>
                </div>
                <div class="info">
                    <span class="time">Mon - 19:30</span>
                    <span class="name">{{image.author}}</span>
                    <p><span>Width: &nbsp;</span>{{image.width}}px<span>; Height: &nbsp;</span>{{image.height}}px
                    </p>
                </div>
            </div>
            <div class="action-btn">
                <a [href]="image.url">
                    <button type="button" class="btn">
                        Find pics
                        <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                </a>
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>