<div class="tickets-container">
    <app-tickets-title (emitedView)="loadEmitedViewChange($event)"></app-tickets-title>
    <div class="tickets">
        <div class="hint" *ngIf="filteredImages.length === 0">
            <p>No results</p>
        </div>
        <div [ngClass]="{'ticket': view === 'grid'}" *ngFor="let image of filteredImages.slice(1, 7)">
            <app-tickets-grid-view *ngIf="view === 'grid'" [image]="image"></app-tickets-grid-view>
            <app-tickets-list-view *ngIf="view === 'list'" [image]="image"></app-tickets-list-view>
        </div>
    </div>
</div>
<div class="sort-btn">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle matTooltip="Sort images from largest" (click)="sortImagesFromLargest()" value="bold">Sort
            images
            <i class="material-icons">keyboard_arrow_down</i>
        </mat-button-toggle>
        <mat-button-toggle (click)="sortImagesFromSmallest()" matTooltip="Sort images from smallest" value="italic">Sort
            images
            <i class="material-icons">keyboard_arrow_up</i>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>