.tickets-container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    app-tickets-grid-view {
        width: 30%;
        margin: 10px;
    }
}

.ticket-list {
    margin-top: 30px;
}

.sort-btn {
    margin: 20px;

    button {
        background-color: #f06292;
        color: white;
    }
}

@media screen and (max-width: 526px) {

    .ticket-grid {
        justify-content: center;
        
        app-tickets-grid-view {
            width: 100%;
        }
        
    }
}

@media screen and (max-width: 500px) {

    .ticket-grid {
        justify-content: center;

        app-tickets-grid-view {
            width: 100%;
        }
    }
}


@media screen and (min-width: 526px) {

    .ticket-grid {
        justify-content: center;

        app-tickets-grid-view {
            width: 46%;
        }
    }
}

@media screen and (min-width: 768px) {

    .ticket-grid {
        app-tickets-grid-view {
            width: 30%;
        }
    }

}