<div class="tickets-container">
    <div class="title">
        <h4>
            <span>Hot</span>
            Tickets</h4>
    </div>
    <div class="tickets">
        <div class="ticket" *ngFor="let image of images.slice(1, 7)">
            <mat-card>
                <img mat-card-image src="{{image.download_url}}" [alt]="image.author">
                <a [href]="image.url">
                    <span class="author">{{image.author}}</span>
                </a>
                <mat-card-content>
                    <p>
                        <span class="image-info"><i class="material-icons">crop_original</i>Height:</span>
                        &nbsp;
                        {{image.height}}
                    </p>
                    <p>
                        <span class="image-info"><i class="material-icons">crop_original</i>Width:</span>
                        &nbsp;
                        {{image.width}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>