<div class="events-container">
    <app-events-title (emitViewChangeValue)="onViewChange($event)"></app-events-title>
    <div class="events">
        <div class="events-grid" *ngIf="view === 'grid'">
            <app-events-grid-view *ngFor="let image of images.slice(25, 28)" [image]="image"></app-events-grid-view>
        </div>
        <div class="events-list" *ngIf="view === 'list'">
            <app-events-list-view *ngFor="let image of images.slice(25, 28)" [image]="image"></app-events-list-view>
        </div>

    </div>
</div>