<div class="events-container">
    <div class="title">
        <h4>
            <!-- <span>Up</span> -->
            Upcoming Events</h4>
        <span></span>
    </div>
    <mat-list *ngFor="let image of images.slice(24, 30)">
        <mat-list-item>
            <div class="image">
                <!-- <div class="image-info"> -->
                <img [src]="image.download_url" [alt]="image.author">
                <div class="date">
                    <p>FEB</p>
                    <p>14</p>
                </div>
                <div class="info">
                    <span class="time">Mon - 19:30</span>
                    <span class="name">{{image.author}}</span>
                    <p><span>Width: &nbsp;</span>{{image.width}}<span>, Height: &nbsp;</span>{{image.height}}</p>
                </div>
                <!-- </div> -->
                <!-- <div class="action-btn">
                    <button mat-flat-button color="accent">Find pics ></button>
                </div> -->
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>