.image-info {
    border: 1px solid gainsboro;
    width: 95%;
}

.image {
    display: flex;
    padding: 10px 0;
    margin-left: 10px;

    img {
        width: 120px;
        height: 70px;
    }

    .date {
        margin: 0 10px;
    }

    .info {
        display: flex;
        flex-direction: column;
        height: 80px;
        margin: 0 10px;

        .time {
            color: #ff80ab;
        }

        .name {
            font-weight: 500;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.data {

        display: flex;
        flex-direction: column;
        margin-left: 10px;

    span {
        display: flex;
        flex-direction: row;
    }
}

.action-btn {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
    }

    button {
        display: flex;
        background-color: #ff4081;
        color: white;
        width: 60px;
        height: 45px;
        font-size: 12px;
    }
}

@media screen and (max-width: 526px) {

    .image {
        flex-direction: column;

        img {
            width: 93px;
        }

        .info {
            height: 120px;
        }
    }

    .data {

        p {
            display: flex;
            flex-direction: column;
        }
    }

    .action-btn {

        button {
            align-items: center;
            width: 82px;
            height: 46px;
        
        }
    }

}

@media screen and (min-width: 526px) {

    .image {
        flex-direction: column;

        img {
            width: 120px;
        }
    }

    .data {

        p {
            display: flex;
            flex-direction: column;
        }
    } 

    .action-btn {

        button {
            width: 100px;
            height: 38px;
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {

    .data {
        p {
            display: flex;
            flex-direction: row;
        }
    } 

    .image {
        flex-direction: row;
        align-items: center;
    }

}