.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hint {
    text-align: center;
}

.ticket-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.ticket-list {
    display: flex;
    flex-direction: column;
}

.tickets-list {
    display: flex;
}

app-grid {
    width: 30%;
    margin: 10px;
}

.tickets {
    padding-bottom: 20px;
}

.events {
    padding-bottom: 50px;
}

.action-btn {
    margin-bottom: 10px;

    a {
        text-decoration: none;
    }
    button {
        display: flex;
        background-color: #ff4081;
        color: white;
    }
}

.date {
    text-align: center;
    margin: 0 10px;

    .time {
        color: #ff80ab;
    }
}

app-grid .action-btn {
    display: flex;
    justify-content: center;
}

app-grid .date-info {
    display: flex;
    justify-content: space-between;
}

app-grid .author {
  color: rgb(112, 109, 109);
  position: absolute;
  bottom: 130px;
  right: 29px;
  font-weight: 500;
}

.sort-btn {
    margin: 20px;

    button {
        background-color: #f06292;
        color: white;
    }
}
