<mat-list>
    <mat-list-item>
        <div class="image-info">
            <div class="image">
                <img [src]="image.download_url" [alt]="image.author">
                <div class="info">
                    <h5 class="author">{{image.author}}</h5>
                    <p>
                        <span class="image-info"><i class="material-icons">crop_original</i>Height:</span>
                        &nbsp;
                        {{image.height}}px
                    </p>
                    <p>
                        <span class="image-info"><i class="material-icons">crop_original</i>Width:</span>
                        &nbsp;
                        {{image.width}}px
                    </p>
                </div>
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>